# If you prefer the allow list pattern instead of deny list, see GitHub's documentation with the link below.
# https://docs.github.com/github/getting-started-with-github/ignoring-files

# Go default ignored files
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# OS specific
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment files
.env
*.env

# Log files
*.log

# Google Cloud credentials
*.json

# Build and temporary directories
/build/
/dist/
/tmp/
/bin/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
